<main>
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Darcotex</h1>
            <h3 class="mb-5">
                <em>Página de Darcotex</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Iniciar sesión
            </a>
            <a href="/signup" class="btn btn-primary">
                Crear cuenta
            </a>
        </div>
    </header>
</main>